
.form
    %form{:method => "post", :action => "/chirp"}
        %input{:type => "text", :name => "chirp"}
        %span.whatever
            %input.submit{:type => "submit", :value => "Chirp It"}

%ul
    - chirps.each do |chirp|
        %li= chirp[:chirp]
        .date= chirp[:created_at]