!!! Strict
%html
  %head
    %meta{:http_equiv => "Content-type", :content => "text/html;charset=utf-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/master.css"}
    %title Mike's Chirps
  %body
    #header
      %a{:href => '/'}
        %h1 Chirps
      #subhead
        %i
          this is a twitter clone thing
          
    #main
      = yield
    
    #footer
      brought to you by
      %a{:href => 'http://sinatra.github.com'} Sinatra    